name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    uses: devantler-tech/reusable-workflows/.github/workflows/release.yaml@cbc65fc546c83ff7fbb944948fb68c3abecadfb3 # v1.19.0
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
